@import url('https://fonts.googleapis.com/css?family=Prosto+One');

.container {
  height: 100%;
}

.song-tittle {
  background-image:
    linear-gradient(black, black),
    url(img/background_2.jpg);
  background-size: cover;
  background-blend-mode: saturation;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.container-cover{
  background-repeat: repeat;
  position: absolute;
    padding:0;
    margin:0;
    top:0;
    width: 50%;
    height: 100%;
}

.green-cover{
  background-color: rgba(101, 162, 128, 0.8);
  left:0;
  z-index: -3;

}

.dark-green{
  background-color: rgba(67, 112, 86, 0.84);
  right:0;
  z-index: -3;
}
.card {
  background-color: #FFFF;
  width: 70%;
  height: 80px;
  padding: 30px;
  display: table;
  margin: 50% auto;
  box-shadow: 0 5px 20px rgba(0,0,0,.8);
  border-radius: 30px;
}
.card .entry-title {
  background-position: -100% 0;
}
@keyframes example {
  0%  {background: white;}
  50% {background-color: #EED17D;}
  100% {background-color: #EED140;}
}
.entry-title {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #EED140 50%);
    animation-name: example;
    animation-duration: 5s;
}
.font {
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: 0.5s ease-in-out;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 15px;
}
p {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.message {
position: fixed;
font-family: Prosto One;
margin-top:20%;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.hand {
  width: 50x;
  height: 50px;
  margin: auto ;

}

.hands-container {
  display: flex;
}
.positive{
  display: block;
  width: 60px;
  height: 60px;
  background-image : url("img/positive-vote.png");
  background-size: cover;
}
.negative {
  background-image : url("img/negative-vote.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  display: block;

}

/* Full-width input fields */

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
  display: block;
  float: none;
  }
  .cancelbtn {
  width: 100%;
  }
}


@media only screen and  (min-width: 800px)  { 
/* Estilos para la página de inicio */
  * {
    box-sizing: border-box;
    font-family: segoe UI;
    margin:0; 
    padding:0;
  }

} 


body{
  width: 100%;
}
.type-it{
  font-family: 'Prosto One';
  letter-spacing: 0.08em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  margin-top:30px;
  text-align: center;
  font-family: Helvetica Neue DeskInterface;
font-size: 48px;

}
.container {
  max-width: 98%;;
  padding: 5px 16px 5px 16px;
}
.type-letter{
  font-family: 'Prosto One';
  letter-spacing: 0.08em;
  font-size: 28px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  /* margin: 5px auto; */
  margin-left: 90px;
  margin-top: 5px;
  display: block;
  position: relative;
  /* text-align: left; */
}
/*COLORS*/

.green{
  background-color:#9FD802;
}

.white{
  color:rgb(255,255,255);
}
/* Full-width input fields */

/* Set a style for all buttons */
.button {
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: 80%;
  border-radius: 55px;
  margin-left: 10px; 
  /* width:20px;
height:70px; */
}
/* Center the image and position the close button */

.playLogo{
  /* margin: 5px auto; */
  margin-top: 50px;
  /* margin-right: 35px;
  margin-left: 20x; */
  height: 112px;
  width:140px;
    display: block;
  position: relative;
}
/* First screen*/
.center-text {
  text-align: center;
}

.showme{
  margin-top: 100px;
  display: inline-block;
  /* margin: auto; */
  /* position: relative; */

}
/* Estilos para la página de crear cuenta */
.template-register{
background: url(../imagenes/number.png);
background-size: cover;
 background-blend-mode: saturation;
 position:fixed;
 padding:0;
 margin:0;
 top:0;
 left:0;
 width: 100%;
 height: 100%;

}
@media only screen and  (min-width: 800px)  { 
/* Estilos para la página de inicio */
  * {
    box-sizing: border-box;
    font-family: segoe UI;
    margin:0; 
    padding:0;
  }
   .rps-design-form{
    width:350px;
    margin:auto;
    padding:10px 20px;
    margin-top:7px;
    border-radius:7px;
  }
  .template-register{
    position: fixed;
    background: url(../imagenes/number.png);
    background-size: cover;
    background-blend-mode: saturation;
    /* position: fixed; */
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
  }

 
} 




